/* add colors, fonts, shadows, media queries */

color-1 = #1C2224
color-2 = #0F1E2A
color-3 = #ffffff
color-4 = #FF0080
color-5 = #000000

media_queries = {
  mobile  : "only screen and (max-width: 600px)",
  tablet  : "only screen and (min-width: 601px) and (max-width: 800px)",
  ipad  : "only screen and (min-device-width : 768px) and (max-device-width : 1024px)",
  desktop : "only screen and (min-width: 801px)",
  xs : "only screen and (max-width: 575.98px)"
  sm : "only screen and (min-width: 576px) and (max-width: 767.98px)",
  md : "only screen and (min-width: 768px) and (max-width: 991.98px)",
  lg : "only screen and (min-width: 992px) and (max-width: 1199.98px)",
  xl : "only screen and (min-width: 1200px)"
}
